.selectPanel {
    -fx-border-color: #f3a11a;
    -fx-border-radius: 20px;
    -fx-font-size: 20pt;
    -fx-border-width: 3px;
}
.selectpaneltext {
    -fx-text-fill: #f3a11a;
    -fx-font-style: normal;
}