.selectPanel {
    -fx-background-color: #f3a11a;
    -fx-border-color: #f3a11a;
    -fx-border-radius: 20px;
    -fx-font-size: 20pt;
    -fx-border-width: 3px;
}
.selectpaneltext {
    -fx-text-fill: #f3a11a;
    -fx-font-style: normal;
}
.button {
    -fx-background-color:
            linear-gradient(#f2ba44, #DF841A),
            radial-gradient(center 50% -40%, radius 200%, #ee8e1a 45%, #C3711A 50%);
    -fx-background-radius: 5, 4;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
}