.text{
    -fx-font-size: 40px;
    -fx-font-weight: 300;
    -fx-fill: rgba(0, 0, 0, 1);
}
.background{
    -fx-background-image: url("/edu/vic/pancake/piSide/GUI/res/pictures/404.png");
    -fx-background-position: center;
    -fx-background-repeat: stretch;
}

